<p>
    Nastąpiła zmiana danych pracownika, wymagane jest ich zaktulizowanie w bazie jakości.
</p>
<p>
    Dane, które zostały zmienione:<br />
    {{#if firstNameChanged}}<b>Imię:</b> {{OldFirstName}} <span style="color:#888;">&nbsp;&rarr;&nbsp;</span> {{FirstName}}<br />{{/if firstNameChanged}}
    {{#if lastNameChanged}}<b>Nazwisko:</b> {{OldLastName}} <span style="color:#888;">&nbsp;&rarr;&nbsp;</span> {{LastName}}<br />{{/if lastNameChanged}}
    {{#if deptChanged}}<b>Dział:</b> {{OldDepartmentName}} <span style="color:#888;">&nbsp;&rarr;&nbsp;</span> {{DepartmentName}}<br />{{/if deptChanged}}
</p>
<p>
    Aktualne dane pracownika:
</p>
<p>
    <b>Numer pracownika:</b> {{ErpId}}<br />
    <b>Imię:</b> {{FirstName}}<br />
    <b>Nazwisko:</b> {{LastName}}<br />
    <b>Dział:</b> {{DepartmentName}}
</p>