<p>
    Wystąpił błąd podczas próby dodania karty oraz zmiany loginu pracownika w systemie HR.<br />
    Wymagane jest ręczne dodanie karty i zmiana loginu pracownika.
</p>
<p>
    Dane wymagane do wprowadzenia do systemu:
</p>
<p>
    <b>Numer karty:</b> {{CardNumber}}<br />
    <b>Login (numer HR):</b> {{HR}}
</p>
<p>
    Dane pracownika:
</p>
<p>
    <b>Numer pracownika:</b> {{ErpId}}<br />
    <b>Imię:</b> {{FirstName}}<br />
    <b>Nazwisko:</b> {{LastName}}<br />
    <b>Dział:</b> {{DepartmentName}}
</p>