<p>
    Pracownik zgubił kartę. Wymagane jest wydanie nowej.
</p>
<p>
    Dane potrzebne do wydania karty:
</p>
<p>
    <b>ERPID:</b> {{ErpId}}<br />
    <b>Imię:</b> {{FirstName}}<br />
    <b>Nazwisko:</b> {{LastName}}<br />
    <b>Dział:</b> {{DepartmentName}}<br />
    <b>Uprawnienia na wózki:</b> {{Forklifts}}<br />
    <b>Uprawnienia na suwnice:</b> {{Cranes}}<br />
    <b>Uprawnienia na żurawie:</b> {{Gantries}}
</p>
<p>
    Po wydrukowianiu karty pamiętaj o jej dodaniu w systemie:<br />
    http://ApplicationServer/BramkiUsers/employees/{{Id}}
</p>